<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" media="screen" href="/css/disease_styles.css">

    <!-- Optional JavaScript (ATTACHED IN BODY FOR NOW)  -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!-- Use this packet for using bootstrap and navbar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <!-- <script>
        function togglerequire(id){
            $(id).children("textarea").each(function(){
                var re = $(this).prop('readonly');
                $(this).prop('readonly', !re);
            });
        }
    </script> -->

    <title>Specific Disease</title>
</head>

    <body>

        <!--Navigation bar-->
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>


        <!-- <form>
            <fieldset id="F1">
                <textarea id="T1" rows="5" cols="50" readonly required></textarea><br>
                <textarea id="T2" rows="5" cols="50" readonly required></textarea><br>
                <textarea id="T3" rows="5" cols="50" readonly required></textarea><br>
            </fieldset>
            <button type="button" id="button" onclick="togglerequire('#F1')">
                Click Me
            </button>
        </form> -->







        <div class="container">
            <div class="row" id="disease-header">

                <div class="col-sm-6 col-md-4">
                    <div class="info-card">
                        <img id="disease-img" src="<%=disease["img"]%>" />
                        <div class="info-card-details animate">
                            <div class="info-card-header">
                                <h1> <%=disease["name"]%> </h1>
                                <%if (disease["bioname"] != '-') {%>
                                    <h3>(Also called: <%=disease["bioname"]%>)</h3>
                                <%}%>
                            </div>
                            <div class="info-card-detail">
                                <!-- Description -->
                                <p>
                                    <%=disease["fact"]%>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">

                    <table class="table">

                        <%if (disease["treat"] != '-') {%>
                            <tr>
                                <th scope="row">
                                    <img id="spec-img" src="/resource/treatable.png">
                                </th>
                                <td><%=disease["treat"]%></td>
                            </tr>
                        <% } %>

                        <%if (disease["diagnosis"] != '-') {%>
                            <tr>
                                <th scope="row">
                                    <img id="spec-img" src="/resource/diagnosis.png">
                                </th>
                                <td><%=disease["diagnosis"]%></td>
                            </tr>
                        <% } %>
                        
                        <%if (disease["lab"] != '-') {%>
                            <tr>
                                <th scope="row">
                                    <img id="spec-img" src="/resource/lab_test.png">
                                </th>
                                <td><%=disease["lab"]%></td>
                            </tr>
                        <% } %>

                        <%if (disease["time"] != '-') {%>
                            <tr>
                                <th scope="row">
                                    <img id="spec-img" src="/resource/chronic.png">
                                </th>
                                <td><%=disease["time"]%></td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>

        <div class="details">

            <!-- CAUSES -->
            <a href="#causes" class="list-group-item" data-toggle="collapse">
                <span id="causes-title">Causes</span>
                <img id="down-arrow" src="resource/down-arrow.png">
            </a>

            <!-- contenteditable="true" -->
            <div  class="list-group collapse" id="causes">
                <%-disease["causes"]%>

                <!-- <fieldset id="F1">
                    <textarea id="T1" rows="5" cols="50" readonly required><%=disease["causes"]%></textarea><br>
                </fieldset>

                <button type="button" id="button" onclick="togglerequire('#F1')">
                    Edit
                </button> -->
            </div>

            <!-- SYMPTOMS -->
            <a href="#symptoms" class="list-group-item" data-toggle="collapse">
                <span id="symptoms-title">Symptoms</span>
                <img id="down-arrow" src="resource/down-arrow.png">
            </a>
            <div class="list-group collapse" id="symptoms">
                <%-disease["symptoms"]%>
            </div>

            <!-- TREATMENT -->
            <a href="#treatment" class="list-group-item" data-toggle="collapse">
                <span id="treatment-title">Treatment</span>
                <img id="down-arrow" src="resource/down-arrow.png">
            </a>
            <div class="list-group collapse list-item" id="treatment">
                <%-disease["treatment"]%>
            </div>

            <!-- HISTORY -->
            <a href="#history" class="list-group-item" data-toggle="collapse">
                <span id="history-title">History</span>
                <img id="down-arrow" src="resource/down-arrow.png">
            </a>
            <div class="list-group collapse" id="history">
                <%-disease["history"]%>
            </div>
        </div>

        <!-- Footer-->
        <div id="footer-placeholder">
            <% include footer.ejs %>
        </div>

    </body>
</html>
