<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Quick Health</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/homepage_revised.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script>
            function togglerequire(id){
                $(id).children("textarea").each(function(){
                    var re = $(this).prop('readonly');
                    $(this).prop('readonly', !re);
                });
            }
        </script>
    </head>



    <body>

        <!--Navigation bar-->
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>



        <form>
            <fieldset id="F1">
                <textarea id="T1" rows="5" cols="50" readonly required>Surviantoro
                </textarea>
                <br>
            </fieldset>
            <button type="button" id="button" onclick="togglerequire('#F1')">
                Click Me
            </button>
        </form>





        <section class="banner-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"> <img class="img-fluid" src="/resource/hep_A.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">USA</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="http://www.foodsafetynews.com/2018/05/hepatitis-a-outbreak-definitely-involves-mainstream-population/#.WvF2BNOFP_Q">
                                            Hepatitis A outbreak definitely involves mainstream population
                                        </a></h2>
                                </div>
                                <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                            </div>
                        </div>
                        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Politics</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">TRANQUIL BOTTOM LEFT</a></h2>
                                </div>
                                <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img class="img-fluid" src="/resource/lis_outbreak.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">South Africa</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="http://www.abc.net.au/news/2018-03-06/south-africa-listeria-outbreak-is-largest-on-record/9518202">South Africa is currently in the middle of the biggest listeria outbreak ever seen,
                                            according to the UN World Health Organisation (WHO).</a></h2>
                                </div>
                                <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                            </div>
                        </div>
                        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/food.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">TRANQUIL BOTTOM RIGHT</a></h2>
                                </div>
                                <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 top-slider">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="/resource/kenya_havoc.jpg" alt=""></div>
                                        <div class="news-title">
                                            <h2 class="title-large"><a href="http://www.xinhuanet.com/english/2018-05/08/c_137162220.htm">Kenya Health Crisis</a></h2>
                                        </div>
                                        <div class="news-des">
                                            Kenya could be staring at a health crisis
                                            as raging floods that have wreaked havoc in many parts of
                                            the country threaten to unleash a wave of communicable diseases
                                            like cholera, typhoid, malaria and flus.
                                        </div>
                                        <br><br>
                                        <!--<div class="time-text"><strong>2h ago</strong></div>-->
                                        <div></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="/resource/okinawa_measles.jpg" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large">
                                                <a href="https://www.japantimes.co.jp/news/2018/05/07/reference/caution-urged-okinawa-measles-outbreak-spreads/#.WvFxkNOFP_Q">
                                                    Caution urged as Okinawa measles outbreak spreads
                                                </a></h2>
                                        </div>
                                        <div class="news-des">Measles cases are spreading in Okinawa, with the reported
                                            number of patients exceeding 90 in just over a month, prompting the
                                            prefecture last month to warn that visiting the resort islands may be not
                                            advisable for infants and pregnant women.</div>
                                        <!--<div class="time-text"><strong>2h ago</strong></div>-->
                                        <br><br>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="/resource/salad.jpg" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large"><a href="https://www.nytimes.com/2018/04/19/well/eat/romaine-lettuce-
                                            salad-food-poisoning-e-coli.html?action=click&
                                            contentCollection=Health&module=RelatedCoverage&
                                            region=Marginalia&pgtype=article">When Is It Safe to Eat Salad Again?</a></h2>
                                        </div>
                                        <div class="news-des">
                                            Based on new information, the C.D.C. is
                                            expanding its warning to consumers to cover all types of
                                            romaine lettuce from the Yuma, Ariz. growing region.
                                            This warning now includes whole heads and hearts of
                                            romaine lettuce, in addition to chopped romaine and
                                            salads and salad mixes containing romaine.</div>
                                        <br><br>
                                        <!--<div class="time-text"><strong>2h ago</strong></div>-->
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="section-01">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h3 class="heading-large">Trending Topic</h3>
                        <div class="">
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/war.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">TOPIC TOP LEFT</h2>
                                            </a></div>
                                        <p class="card-text">CONTENT TL</p>
                                        <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">TOPIC TOP RIGHT</h2>
                                            </a></div>
                                        <p class="card-text">CONTENT TR</p>
                                        <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/movie.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">TOPIC BOTTOM LEFT</h2>
                                            </a></div>
                                        <p class="card-text">CONTENT BL</p>
                                        <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel1.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">TOPIC BOTTOM RIGHT</h2>
                                            </a></div>
                                        <p class="card-text">CONTENT BR</p>
                                        <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="col-lg-4 side-bar col-md-12">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Fact</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Quiz</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Featured</a> </li>
                        </ul>

                        <!-- Tab panes -->

                        <!--Featured-->
                        <div class="tab-content sidebar-tabing" id="nav-tabContent">
                            <div class="tab-pane" id="messages" role="tabpanel">
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">I DON'T</a></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/business.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">HAVE ENOUGH</a></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport1.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">CLUE FOR THIS</a></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                            </div>


                            <!--Fact-->
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport2.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><p><%=qfdb[0]["fact"]%>.. <a href="<%=qfdb[0]["link"]%>" target="_blank">Read More</a></p></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/lifestyle.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><p><%=qfdb[1]["fact"]%>.. <a href="<%=qfdb[1]["link"]%>" target="_blank">Read More</a></p></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food1.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><p><%=qfdb[2]["fact"]%>.. <a href="<%=qfdb[2]["link"]%>" target="_blank">Read More</a></p></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                            </div>

                            <!--Quiz-->
                            <div class="tab-pane" id="profile" role="tabpanel">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="news-title">
                                            <p class="text-center" id="#question"><%=qqdb[0]['question']%></p>
                                            <p class="text-center">
                                                <button type="button" class="btn btn-primary"><%=qqdb[0]['option'][0]%></button>
                                                <br>
                                                <br>
                                                <button type="button" class="btn btn-primary"><%=qqdb[0]['option'][1]%></button>
                                                <br>
                                                <!--IF there is any 3rd option-->
                                                <!--<button type="button" class="btn btn-primary"><%=qqdb[0]['option'][2]%></button>-->
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Video Section-->
                        <div class="video-sec">
                            <h4 class="heading-small">Featured Video</h4>
                            <div class="video-block">
                                Everything You Need To Know: <br><strong><em>Zika Virus</em></strong>
                                <div class="embed-responsive embed-responsive-4by3">

                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2BxdNA6uxeA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="video-block">
                                Everything You Need To Know: <br><strong><em>Ebola Virus</em></strong>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nfIJy5Ov52c?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </section>





        <!-- Footer-->
        <div id="footer-placeholder">
            <% include footer.ejs %>
        </div>

    </body>

</html>