<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Quick Health</title>
        <link rel="shortcut icon" href="/resource/logo_bg.png"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/homepage_revised.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body>
        <!--Navigation bar-->
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>

        <%if (!user) { %>
            <h1>Welcome Stranger</h1>
        <% } else { %>
            <h1>Welcome <%=user.firstName + ' ' + user.lastName%></h1>
        <% } %>

        <section class="banner-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">


                        <div class="card"> <img class="img-fluid" src="<%=locnews[0].img%>" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger"><%=locnews[0].country%></span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="<%=locnews[0].link%>">
                                            <%=locnews[0].content%>
                                        </a></h2>
                                </div>
                            </div>
                        </div>



                        <div class="card"> <img class="img-fluid" src="<%=locnews[1].img%>" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger"><%=locnews[1].country%></span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="<%=locnews[1].link%>">
                                            <%=locnews[1].content%></a></h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img class="img-fluid" src="<%=locnews[2].img%>" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger"><%=locnews[2].country%></span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="<%=locnews[2].link%>">South Africa is currently in the middle of the biggest listeria outbreak ever seen,
                                        <%=locnews[2].content%></a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="card"> <img class="img-fluid" src="<%=locnews[3].img%>" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger"><%=locnews[3].country%></span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="<%=locnews[3].link%>">
                                        <%=locnews[3].content%></a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 top-slider">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="<%=outbreaknews[0].img%>" alt=""></div>
                                        <div class="news-title">
                                            <h2 class="title-large"><a href="%=outbreaknews[0].link%>"><%=outbreaknews[0].title%></a></h2>
                                        </div>
                                        <div class="news-des">
                                            <%=outbreaknews[0].content%>
                                        </div>
                                        <br><br>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="<%=outbreaknews[1].img%>" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large">
                                                <a href="<%=outbreaknews[1].link%>">
                                                    <%=outbreaknews[1].title%>
                                                </a></h2>
                                        </div>
                                        <div class="news-des">
                                            <%=outbreaknews[1].content%>
                                        </div>
                                        <br><br>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="<%=outbreaknews[2].img%>" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large"><a href="<%=outbreaknews[2].link%>"><%=outbreaknews[2].title%></a></h2>
                                        </div>
                                        <div class="news-des">
                                            <%=outbreaknews[2].content%>
                                        </div>
                                        <br><br>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="section-01">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h3 class="heading-large">Trending Topic</h3>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="<%=trendnews[0].img%>" alt="Flu">
                                    <div class="card-body">
                                        <div class="news-title"><a target="_blank" href="<%=trendnews[0].link%>">
                                                <h2 class=" title-small"><strong><%=trendnews[0].title%></strong></h2>
                                            </a></div>
                                        <p class="card-text">
                                            <%=trendnews[0].content%>
                                        </p>
                                        <!--<p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="<%=trendnews[1].img%>" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a target="_blank"  href="<%=trendnews[1].link%>">
                                                <h2 class=" title-small"><strong><%=trendnews[1].title%></strong></h2>
                                            </a></div>
                                        <p class="card-text">
                                            <%=trendnews[1].content%>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="<%=trendnews[2].img%>" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a target="_blank" href="<%=trendnews[2].link%>">
                                                <h2 class=" title-small"><strong>D<%=trendnews[2].title%></strong></h2>
                                            </a></div>
                                        <p class="card-text">
                                            <%=trendnews[2].content%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="<%=trendnews[3].img%>" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a target="_blank" href="<%=trendnews[3].link%>">
                                                <h2 class=" title-small"><strong><%=trendnews[3].title%></strong></h2>
                                            </a></div>
                                        <p class="card-text">
                                            <%=trendnews[3].content%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <aside class="col-lg-4 side-bar col-md-12">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Quick Fact</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Quick Quiz</a> </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content sidebar-tabing" id="nav-tabContent">
                            <!--Fact-->
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="/resource/laugh.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><p><%=qfdb[0]["fact"]%>.. <a href="<%=qfdb[0]["link"]%>" target="_blank">Read More</a></p></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="/resource/standing.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><p><%=qfdb[1]["fact"]%>.. <a href="<%=qfdb[1]["link"]%>" target="_blank">Read More</a></p></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="/resource/balanced_diet.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><p><%=qfdb[2]["fact"]%>.. <a href="<%=qfdb[2]["link"]%>" target="_blank">Read More</a></p></h2>
                                        </div>
                                        <!--<div class="news-auther"><span class="time">1h ago</span></div>-->
                                    </div>
                                </div>
                            </div>

                            <!--Quiz-->
                            <div class="tab-pane" id="profile" role="tabpanel">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="news-title">
                                            <p class="text-center" id="#question"><%=qqdb[0]['question']%></p>
                                            <p class="text-center">
                                                <button type="button" class="btn btn-primary"><%=qqdb[0]['option'][0]%></button>
                                                <br>
                                                <br>
                                                <button type="button" class="btn btn-primary"><%=qqdb[0]['option'][1]%></button>
                                                <br>
                                                <!--IF there is any 3rd option-->
                                                <!--<button type="button" class="btn btn-primary"><%=qqdb[0]['option'][2]%></button>-->
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Video Section-->
                        <div class="video-sec">
                            <h4 class="heading-small">Featured Video</h4>
                            <div class="video-block">
                                Everything You Need To Know: <br><strong><em><%= vid[0].title %></em></strong>
                                <div class="embed-responsive embed-responsive-4by3">

                                    <iframe class="embed-responsive-item" src="<%= vid[0].link %>" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="video-block">
                                Everything You Need To Know: <br><strong><em><%= vid[1].title %></em></strong>
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="<%= vid[1].link %>" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <div id="footer-placeholder">
            <% include footer.ejs %>
        </div>

    </body>

</html>