<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/profile.css" />
    <script type="text/javascript" src="/profile.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <h1>Profile</h1>
            <div class="profile-image">
                <img src="imgs/sampleprofile.jpeg" class="img-circle" align="middle">
            </div>
            <h2><%= profile.firstName %> <%= profile.lastName %></h2>
        </div>
    </div>
    
    <div id="container-personal-activities" class="container">
        
        <div class="row">
            <div class="col-sm-6 col-xs-12 personal-info">
                <h3>Joined Since: <%= profile.joinedMonth %> <%= profile.joinedYear%></h3>
                <h3>Occupation: <%= profile.occupation %></h3>
                <h3>From: <%= profile.from %></h3>
                <h3>Lives in: <%= profile.livesIn %></h3>
            </div>

            <div class="col-sm-6 col-xs-12 forum-activities">
                <h3>Recent Forum Activities</h3>
                <ul class="list-forum-activities">
                    <li><h4>Herbal Tea Benefits?</h4></li>
                    <li><h4>Flu Prevention Tips</h4></li>
                    <li><h4>First Aid Competition</h4></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="container-basic-allergies-info" class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4 class="basic-allergies-info"><font color="white">Basic Info</font></h4>
                
                <h4 id="contact-info-title">Contact Information</h4>
                <h5 id="mobile-phone">Mobile Phones: <%= profile.mobile %></h5>
                <h5 id="address">Address: <%= profile.address %></h5>
                <h5 id="email">Email Address: <%= profile.email %></h5>

            </div>

            <div class="col-md-6 col-xs-12">
                <h4 class="basic-allergies-info"><font color="white">Allergies</font></h4>
                <ul class="list-allergies">
                    <% for (var x = 0; x < profile.allergies.length; x++) { %>
                        <li><h5><%= profile.allergies[x] %></h5></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    
</body>
</html>